@inject WorthCalculator Worth

<table id="worth-table">
    <tr>
        <td colspan="2"></td>
        <td id="top-header" colspan="6">Frequency of Inefficiency</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="col-title">50/day</td>
        <td class="col-title">5/day</td>
        <td class="col-title">Daily</td>
        <td class="col-title">Weekly</td>
        <td class="col-title">Monthly</td>
        <td class="col-title">Annually</td>
    </tr>
    <tr>
        <td id="left-header" rowspan="10"><p>Time Lost per Occurrence</p></td>
        <td class="row-title">1 sec</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneSecond, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneSecond, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneSecond, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneSecond, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneSecond, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneSecond, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">5 sec</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.FiveSeconds, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.FiveSeconds, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.FiveSeconds, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.FiveSeconds, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.FiveSeconds, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.FiveSeconds, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">½ min</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfMinute, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfMinute, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfMinute, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfMinute, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfMinute, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfMinute, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">1 min</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneMinute, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneMinute, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneMinute, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneMinute, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneMinute, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneMinute, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">½ hour</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfHour, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfHour, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfHour, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfHour, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfHour, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfHour, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">1 hour</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneHour, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneHour, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneHour, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneHour, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneHour, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneHour, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">½ day</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfDay, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfDay, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfDay, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfDay, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfDay, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfDay, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">1 day</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneDay, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneDay, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneDay, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneDay, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneDay, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneDay, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">½ week</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfWeek, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfWeek, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfWeek, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfWeek, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfWeek, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.HalfWeek, 0.00273972f)</td>
    </tr>
    <tr>
        <td class="row-title">1 week</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneWeek, 50f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneWeek, 5f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneWeek, 1f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneWeek, 0.14285714f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneWeek, 0.03287671f)</td>
        <td class="value-cell">@Worth.Calculate(DevTime, Interval.OneWeek, 0.00273972f)</td>
    </tr>
</table>

@code {
    [Parameter]
    public Interval DevTime { get; set; }
}
